.idea/
*.svn
.DS_Store
.project
.settings
.classpath
*.factorypath
Thumbs.db
bin
target
*~


# Binaries
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
*.log

# Maven 
target/


# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*db.properties
*db.script

